body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Navbar {
  background-color: rgb(68, 33, 92);
  font-family: "Penna";
  font-size: 40px;
  font-weight: 600;
  color: white;
  padding: 10px;
}

.Name {
  color: white;
  padding-left: 10px;
  font-size: 45px;
  font-weight: 900;
}

a {
  padding: 20px;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  color: rgb(226, 213, 255);
  text-decoration: none;
}

a:active {
  color: rgb(206, 184, 252);
}